<h1>Enter a sample</h1>
<%= form_for @sample, :remote => true do |f| %>
  
  <div>
    <%= f.label       "Weight" %>
    <%= f.text_field  :weight %>  <br />
    <%= f.label       "Height" %>
    <%= f.text_field  :height %>  <br />
  </div>

  <%= f.submit "Test Sample" %>
<% end %>

<h2>Result:</h2>
<%= render 'result' %>

