<h1> Training Data </h1>
<table>
  <tr>  
    <th> Gender </th>
    <th> Weight </th>
    <th> Height </th>
    <th> Foot Size</th>
    <th></th>
    <th></th>
  </tr>

  <% @individuals.each do |indiv| %>
  <tr>
      <td> <%= indiv.gender %> </td>
      <td> <%= indiv.weight.to_i %> </td>
      <td> <%= indiv.height_ft %>' <%= indiv.height_in %>"</td>
      <td> <%= indiv.foot_size %> </td>
      <td> <%= button_to "edit", edit_individual_url( indiv ), { :method => :get } %> </td>
      <td> <%= button_to "delete", individual_url( indiv ), :method => :delete, 
               :title => "Delete individual"%> </td>
  </tr>
  <% end %>
</table>



