<h1>Add error messages</h1>

<%= form_for @individual do |f| %>
  <%= f.label       "Gender" %> <br />
  <%= f.select :id, Individual::GENDERS %> <br />
  <%= f.label       "Weight" %>
  <%= f.text_field  :weight %>  <br />
  <%= f.label       "Height" %>
  <%= f.text_field  :height %>  <br />

  <%= f.submit %>
<% end %>
